#page1{
    background-color: #c7dc94;
}

#about_header{
    text-align: center;
    position: relative;
    /* background-color: #ffffff; */
    padding: 100px 50px 0px 50px;
}

#about_text{
    text-align: center;
    padding:0px 50px 100px 50px;
    margin: 30px 0px 30px 0px;
}

#page2{
    background-color:  #94dccf;
    position: relative;
}

.members{
    text-align: center;
    position: relative;
    padding:100px 140px 100px 140px;
}

.members > div{
    display: inline-block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 500px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    display: block;
}

#name{
    padding-top: 20px;
}

.title {
    color: grey;
    font-size: 18px;
}

#submit_btn{
    background-color: #2ebd4f;
    border-color: #2ebd4f;
    color: #ffffff;
}
