html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* .search_home{
    width: 500px; //centered in the middle of the page
    right: 0;
    left: 33%;
    top: 60%;
    position: absolute;
}

.search_btn{
    left: 60.5%;
    top : 60%;
    position: absolute;
} */

.search_bar{
    width: 1000px;
    left: 33%;
    top: 60%;
    position: absolute;
}

.search_bar > div{
    float: left;
}

#search_home{
    width: 500px;
}

.pricing-header{
    left : 40%;
    top : 30%;
    position: absolute;
}

.navbar{
    background-color: #ffff00;
}

#submit_btn{
    background-color: #2ebd4f;
    border-color: #2ebd4f;
    color: #ffffff;
}
