html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.search_home{
    width: auto;
}

.search_bar{
    margin: auto;
    width: 40%;
}

.search_bar > div{
    display: inline-block;
}

.logo{
    text-align: center;
    padding: 100px 50px 100px 50px;
}

#search_home{
    width: 500px;
}

.pricing-header{
    text-align: center;
    position: absolute;
}

.navbar{
    background-color: #ffff00;
}

#submit_btn{
    background-color: #2ebd4f;
    border-color: #2ebd4f;
    color: #ffffff;
}
