{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>noWhinge</title>
<!-- google maps -->
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    {% include 'navbar.html' %}
    <div id="page1">
        <a id="about" class="smooth"></a>
        <!-- <div id="about_header">
            <h1>Our Vision</h1>
            <br><br><br><br><br><br>
        </div> -->
        <div id="about_text">
            <br><br><br><br>
            <h2>Why noWhinge?</h2>
            <br><br><br><br>
            <p>Multiple departments of the government have separate web complaint portals. This can be hassle as the users have to figure out which government branch to contact, and within the branch which department. We plan to collate all forms in one portal, so that users can use a single platform for different grevencies. The UI for most portals are different and are not intuitive, we plan to make an easy to use interface. The data gathered will be analysed and problem based analysis of the region will be made public on the website - this will be the locality based review. We plan to make the review process user interactive. Lastly we plan to link social media to the problems so that they can gain limelight and won't be ignored.</p>
        </div>
    </div>

    <!-- Page 2 -->
    <div id="page2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a id="member_list" class="smooth"></a>
        <div class="members">
            <h2>Our Team</h2>
        <!-- </div>
        <div class="members_card"> -->
            <br><br><br><br>
            <div class="card" id="card1">
              <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/aakash.png?token=ATrmP970J2rn7FZQFeyQwi2zSK7grCxMks5a1dyTwA%3D%3D" alt="Member1" style="width:100%">
              <h1 id="name">Aakash Deep</h1>
              <p class="title">Front-end Developer</p>
              <p>IIIT-D</p>
            </div>
            <div class="card" id="card2">
              <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/manshul.png?token=ATrmPxWvRmEGQjtDVb20zrhtdGgjMNd9ks5a1dzUwA%3D%3D" alt="Member2" style="width:100%">
              <h1 id="name">Manshul Belani</h1>
              <p class="title">Front-end Developer</p>
              <p>IIIT-D</p>
            </div>
            <div class="card" id="card3">
              <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/karan.png?token=ATrmP3m9xwxBuNt8mtqAzXoLPmp2yYX_ks5a1dzDwA%3D%3D" alt="Member3" style="width:100%">
              <h1 id="name">Karan Dabas</h1>
              <p class="title">Back-end Developer</p>
              <p>IIIT-D</p>
            </div>
            <div class="card" id="card4">
              <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/raunak.png?token=ATrmP3DzBX45Q2t89__7Ha1ARJl5VyXIks5a1dzrwA%3D%3D" alt="Member4" style="width:100%">
              <h1 id="name">Raunak Sinha</h1>
              <p class="title">Back-end Developer</p>
              <p>IIIT-D</p>
            </div>
            <div class="card" id="card4">
              <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/ishbir.png?token=ATrmP3CD8yxAPAIxp52pp7XnCPylmWEPks5a1mTFwA%3D%3D" alt="Member4" style="width:100%">
              <h1 id="name">Ishbir Walia</h1>
              <p class="title">Back-end Developer</p>
              <p>IIIT-D</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
    <script>
    $('.smooth').on('click', function() {
        $.smoothScroll({
            scrollElement: $('body'),
            scrollTarget: '#' + this.id
        });

        return false;
    });
    </script>

</body>
