{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>noWhinge-Analysis</title>
<!-- google maps -->
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/analysis.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 87%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 87%;
        margin: 0;
        padding: 0;
      }
    </style>

</head>

<body>
    {% include 'navbar.html' %}

    <!-- Making the page resonsive -->

    <div class="header_analysis">
        <div class="title">
          <h1>Locality Analysis</h1>
        </div>
        <!-- form -->
        <form name = "form" enctype = "multipart/form-data"
             action = "{% url 'analysis_page' %}" method = "POST" >{% csrf_token %}

            <div class="option">
                <div class="issue_dpdw">
                    <h2>Issue</h2>
                    <select selected = "" name="issue" class="btn btn-outline-success" id="issue">
                        <option value="">- - Select - -</option>
                        <option value="Road Maintenance">Road Maintenance</option>
                        <option value="Water Related">Water Related</option>
                        <option value="Electricity Related">Electricity Related</option>
                    </select>
                </div>
                <div class="locality_dpdw">
                    <h2>Locality</h2>
                    <select selected = "" name="locality" class="btn btn-outline-success" id="locality">
                        <option value="">- - Select - -</option>
                        <option value="Malviya Nagar">Malviya Nagar</option>
                        <option value="Model Town">Model Town</option>
                        <option value="IIITD">IIITD</option>
                    </select>
                    <br>
                </div>
                <div class="btn">
                    <button type="submit" class="btn btn-outline-success" value="Get">Fetch</button>
                </div>
            </div>
        </form>
    </div>

    <!-- display map -->
    <div id="map"></div>
    <div id="floating_panel">
        <div>
            <button class="btn btn-outline-success" onclick="toggleHeatmap()">Toggle Heatmap</button>
        </div>
        <div>
            <button class="btn btn-outline-success" onclick="changeGradient()">Change gradient</button>
        </div>
        <div>
            <button class="btn btn-outline-success" onclick="changeRadius()">Change radius</button>
        </div>
        <div>
            <button class="btn btn-outline-success" onclick="changeOpacity()">Change opacity</button>
        </div>
    </div>


    <!-- display pie chart for resolved vs unresolved -->
    <div class="container">
    <div class="center">
    <div id="piechart"></div>
  </div>
</div>
    <!-- script for heatmap -->
    <script>
      var map, heatmap;
      var center_arr = {{ center|safe }};
      var zz = {{zoom|safe}};
      // document.write(zz);
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: zz,
          center: {lat: center_arr[0], lng: center_arr[1]},
          mapTypeId: google.maps.MapTypeId.HYBRID,
          labels:true
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }


      var array1 = {{ lat_lon_list|safe }};
      // document.write(array1.length);

      // Heatmap data: 500 Points
      function getPoints() {
        var new_array = [];
        for (i=0;i<array1.length;i++){
            document.write('=')
            var get_lat_lon = new google.maps.LatLng(array1[i][0], array1[i][1]);
            new_array.push(get_lat_lon);
        }
        return new_array;
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCZIWRUHV-aFGZyz42XGNUgPa8FgF1uGg&libraries=visualization&callback=initMap">
    </script>


    <!-- script for pie chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values

    var resolved = {{u_resolved|safe}};

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Resolved', resolved[0]],
      ['Unresolved', resolved[1]]
    ]);


      // Optional; add a title and set the width and height of the chart
      var options = {'title':'Complaint Status', 'width':800, 'height':600};

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="chart_div"></div>
    <br/>
    <div id="btn_group">
        <div>
            <button class="btn btn-outline-success" id="none">No Format</button>
        </div>
        <div>
            <button class="btn btn-outline-success" id="scientific">Scientific Notation</button>
        </div>
        <div>
            <button class="btn btn-outline-success" id="decimal">Decimal</button>
        </div>
        <div>
            <button class="btn btn-outline-success" id="short">Short</button>
        </div>
    </div>


<!-- script for bar chart -->
    <script>
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      var complaint_list = {{complaint_list|safe}}
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Road Maintenance', 'Water Related', 'Electricity Related'],
          ['2018', complaint_list[0], complaint_list[1], complaint_list[2]]
        ]);

        var options = {
          chart: {
            title: 'Total Complaints Recieved',
            subtitle: 'since 2018',
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          hAxis: {format: 'decimal'},
          height: 400,
          width: 1000,
          colors: ['#1b9e77', '#d95f02', '#7570b3']
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

        var btns = document.getElementById('btn-group');

        btns.onclick = function (e) {

          if (e.target.tagName === 'BUTTON') {
            options.hAxis.format = e.target.id === 'none' ? '' : e.target.id;
            chart.draw(data, google.charts.Bar.convertOptions(options));
          }
        }
      }
    </script>

</body>
