{% load staticfiles %}
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>noWhinge</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/pricing.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- code to find location from home page -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap" async defer></script>
	<script>
	function searchLocation(number){

	var currgeocoder;
    //Set geo location lat and long
    navigator.geolocation.getCurrentPosition(function (position, html5Error) {
        geo_loc = processGeolocationResult(position);
        currLatLong = geo_loc.split(",");
        initializeCurrent(currLatLong[0], currLatLong[1]);
    },function(e){console.log(e);},{timeout:20000});

    //Get geo location result
    function processGeolocationResult(position) {
        html5Lat = position.coords.latitude; //Get latitude
        html5Lon = position.coords.longitude; //Get longitude
        html5TimeStamp = position.timestamp; //Get timestamp
        html5Accuracy = position.coords.accuracy; //Get accuracy in meters
        return (html5Lat).toFixed(8) + ", " + (html5Lon).toFixed(8);
    }

    //Check value is present or
    function initializeCurrent(latcurr, longcurr) {
		//document.getElementById("search_home").innerHTML=latcurr + "	" + longcurr;
		console.log(latcurr + "-- ######## --" + longcurr);
        currgeocoder = new google.maps.Geocoder();

        //console.log(latcurr + "-- ######## --" + longcurr);

        if (latcurr != '' && longcurr != '') {
            //call google api function
            var myLatlng = new google.maps.LatLng(latcurr, longcurr);
            return getCurrentAddress(myLatlng);
        }
    }

    //Get current address
    function getCurrentAddress(location) {
        currgeocoder.geocode({
            'location': location
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0].formatted_address);

                //For auto completing
                var address = results[0].formatted_address;
                console.log(address)
                var pattern_model_town = new RegExp("Model Town","i");
                var pattern_IIITD = new RegExp("iiit","i");
                var pattern_malviya_nagar = new RegExp("Malviya Nagar","i");

                localStorage.location_to_fill = 0;
                localStorage.address_to_fill = null;
                localStorage.location_to_fill_name = null;

                var res = pattern_IIITD.exec(address);
                if (res != null){
                    localStorage.location_to_fill = 3;//1 for IIITD
                    localStorage.address_to_fill = address;
                    localStorage.location_to_fill_name = "IIITD";
                    console.log(localStorage.location_to_fill);

                }

                res = pattern_model_town.exec(address);
                if (res != null){
                    localStorage.location_to_fill = 2;//2 for Model Town
                    localStorage.location_to_fill_name = "Model Town";
                    localStorage.address_to_fill = address;
                }

                res = pattern_malviya_nagar.exec(address);
                if (res != null){
                    localStorage.location_to_fill = 1;//3 for Malviya Nagar
                    localStorage.address_to_fill = address;
                    localStorage.location_to_fill_name = "Malviya Nagar";
                }


                $("#address").html(results[0].formatted_address);
				//document.getElementById("search_home").innerHTML= "check";
				//$("#address").html(results[0].formatted_address);
				//$('#search_home').val($("#address").html(results[0].formatted_address));
				//$('#search_home').val(results[0].formatted_address);
				$('#search_home').val(results[0].address_components[3].long_name);

				return showLocationBasedCards();
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

	function showLocationBasedCards() {
		document.getElementById("locationBasedCards").style.visibility='visible';
		window.location.hash = '#locationBasedCards';
	}
	}

	</script>

  </head>

  <body>

    {% include 'navbar.html' %}

    <div class="logo">
      <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/logo_final1.png?token=ATrmP5f8-439WZPQfl77Oa3BTxB0_EjMks5a1gvOwA%3D%3D" alt="noWhinge logo" style="width:50%">
    </div>
      <!-- <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p> -->

    <div class="search_bar">
        <div>
            <input id="search_home" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div>
            <button id="search_btn" class="btn btn-outline-success" type="submit" onclick="searchLocation()">Detect Location</button>
        </div>
    </div>
	<br><br>

    <div class="images" style="visibility:visible">

        <div class="complaint">
            <a class="nav-link" href="{% url 'complaint_page' %}">
            <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/LogComplaintCard.jpg?token=ATrmP3Eko4IkTb4WTxMAZ2HuFwozslCXks5a2mNfwA%3D%3D" alt="Log a complaint">
            </a>
        </div>
        <div class="analysis">
            <a class="nav-link" href="{% url 'analysis_page' %}">
                    <img src="https://raw.githubusercontent.com/kd3423/noWhinge/master/noWhinge/members/AnalysisCard.jpg?token=ATrmPwpEqAw-Ek_nWa_c98Ry9KTJhj4cks5a2mN2wA%3D%3D" alt="Analysis">
            </a>
        </div>
    </div>

    <!-- <div id = "search_home" class = "search_home">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class = "search_btn">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
