
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>noWhinge</title>
<!-- google maps -->
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    {% include 'navbar.html' %}

	<!--<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}

	  <button class="btn btn-outline-success" type="submit">Login</button>
	  <br>
	</form>-->

    <div class="login">
        <div class="title">
            <h1>Sign Up</h1>
        </div>
        <div class="login_form">
    	    <form name = "form" enctype = "multipartform-data"
                    action = "{% url 'login' %}" method = "POST" >
                    {% csrf_token %}
            <input class="form-control" name="username" type="text" placeholder="Username">
            <br>
            <input class="form-control" name="password" type="password" placeholder="Password">
            <br><br><br>
            <button class="btn btn-outline-success" type="submit" value="Get">Login</button>
            </form>
            <br>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-success" id="submit_btn" >Login with Google</a><br>
        </div>
    </div>

<!-- 	<button href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Login with Google</button> -->

	<!-- <p><strong> OR </strong></p>
	<a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
	 -->

</body>
